<center>
  <hr>
  <%= link_to "Заполнить форму", new_form_path, class: 'btn btn-default' %>
    <div>
    <p><b>Что-бы завести свой личный аккаунт вам надо заполнить форму или связаться с нами по нашим контактам</b><p>

    <p>Контакты</p> 
      <p>Email : asddsasdsa@asdassad.ru</p>

      <p>O! : 0709710200</p>

      <p>Megacom: 0555901255</p>

      <p>Beeline: 0777901255</p>
    </div>

</center>




<!-- <h2>Sign up</h2>

 = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  
   = devise_error_messages!  

  <div class="field">
     = f.label :email  <br />
     = f.email_field :email, autofocus: true  
  </div>

  <div class="field">
     = f.label :password  
      if @minimum_password_length  
    <em>( = @minimum_password_length   characters minimum)</em>
      end  <br />
     = f.password_field :password, autocomplete: "off"  
  </div>

  <div class="field">
     = f.label :password_confirmation  <br />
     = f.password_field :password_confirmation, autocomplete: "off"  
  </div>

  <div class="actions">
     = f.submit "Sign up"  
  </div>
  end  

 = render "devise/shared/links"  
 -->