<center>
    <div class="row row-category">
      <div class="col-md-3">
        <% @podrazdel.containers.each do |p| %>
      </div>
    </div>

    <div class="">
      <div class="col-md-2">
        <div class="thumbnail" style="border-radius: 28px; border: 4px solid silver; background: rgba(255, 255, 255, 0.69);">
          <h1>
          <p><div class="post-meta"><h4><b>Контейнер <%= p.name %></b></h4></div></p>
          </h1>
          <a><%= link_to 'Посмотреть товары', bazar_podrazdel_container_path(@bazar.id, p.id), class: "button24", style: 'font-size: 12px;'%>
          </p>
            <img src="/image/magaz.jpg" style="border-radius: 15px;">
          <% end %>
        </div>
      </div>
    </div>
</center>
