

<hr>

<p></p>
<p>
<%= link_to "Вернуться к проходам", bazar_path(@bazar.id, @podrazdel.id), class: 'btn btn-default', style: 'margin-left: 10px;' %>
</p>

<center>
    <div class="row row-category">
      <div class="col-md-3">
      	<% if @containers.blank? %>
		  <h4>There are no product containing the term <%= params[:search] %>.</h4>
		<% else %>
        	<% @containers.each do |p| %>
      </div>
    </div>

    <div class="">
      <div class="col-md-2">
        <div class="thumbnail" style="border-radius: 28px; border: 4px solid silver; background: rgba(255, 255, 255, 0.69);">
          <h1>
          <p><div class="post-meta"><h4><b>Контейнер <%= link_to p.name, bazar_podrazdel_container_path(@bazar.id, @podrazdel.id, p.id) %></b></h4></div></p>
          </h1>
      
          </p>
            <img src="/image/magaz.jpg" style="border-radius: 15px;">
          <% end %>
        </div>
      </div>
    </div>
</center>
<% end %>